<div class="Frame39429 justify-center items-center inline-flex">

    <img class="Image w-80 h-60 rounded-2xl shadow-xl" [src]="cardImage" />

    <div
        class="Frame39520 px-4 py-4 bg-white rounded-2xl flex-col justify-center items-center gap-6 inline-flex shadow-xl border-x">
        <div class="Frame39428 flex-col justify-start items-start flex">
            <div
                class="TeslaModel3 text-center text-slate-900 text-2xl font-normal font-['Poppins'] capitalize leading-10">
                FORD MUSTANG</div>
            <div class="Usado w-64 text-zinc-500 text-sm font-normal font-['Poppins'] capitalize leading-relaxed">0KM
                5.0 V8 GT Performance Selectshift</div>
        </div>
        <div class="Frame39427 self-stretch h-52 flex-col justify-end items-start gap-3 flex">
            <div class="Frame39426 self-stretch h-24 flex-col justify-start items-start gap-3 flex">
                <div class="Frame39423 self-stretch justify-between items-center inline-flex">
                    <div class="Ano text-zinc-500 text-sm font-normal font-['Poppins'] capitalize leading-relaxed">Ano:
                    </div>
                    <div
                        class=" text-right text-slate-900 text-sm font-normal font-['Poppins'] capitalize leading-relaxed">
                        2024</div>
                </div>
                <div class="Frame39424 self-stretch justify-between items-center inline-flex">
                    <div class="Modelo text-zinc-500 text-sm font-normal font-['Poppins'] capitalize leading-relaxed">
                        Modelo:</div>
                    <div
                        class="Lc76 text-right text-slate-900 text-sm font-normal font-['Poppins'] capitalize leading-relaxed">
                        Mustang</div>
                </div>
                <div class="Frame39425 self-stretch justify-between items-center inline-flex">
                    <div
                        class="CombustVel text-zinc-500 text-sm font-normal font-['Poppins'] capitalize leading-relaxed">
                        Combustível:</div>
                    <div
                        class="Petrol text-right text-slate-900 text-sm font-normal font-['Poppins'] capitalize leading-relaxed">
                        gasolina</div>
                </div>
            </div>
            <div class="36620 text-slate-900 text-2xl font-normal font-['Poppins'] capitalize leading-10">R$529.000
            </div>
            <div class="Frame39415 w-52 px-4 py-2 bg-slate-900 rounded-3xl justify-between items-center inline-flex">
                <div
                    class="VerParcelas text-center text-white text-base font-semibold font-['Poppins'] capitalize leading-relaxed">
                    Ver parcelas</div>
                <div class="VuesaxLinearArrowRight w-4 h-4 justify-center items-center flex">
                    <div class="ArrowRight w-4 h-4 relative">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>