.frame-39515_1-576 {
    padding: 0px 72px 0px 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0px;
    box-sizing: border-box;
    background: #eaebf0;
    width: 100%;
    height: 127px;
}
.frame-39482_1-577 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 54px;
    box-sizing: border-box;
}
.text-comprar_1-578 {
    color: #000000;
    font-weight: 400;
    text-align: center;
    text-wrap: nowrap;
}

.text-vender_1-579 {
    color: #000000;
    font-weight: 400;
    text-align: center;
    text-wrap: nowrap;
}

.text-servi-os_1-580 {
    color: #000000;
    font-weight: 400;
    text-align: center;
    text-wrap: nowrap;
}

.logo_1-581 {
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0px;
    box-sizing: border-box;
}
.text-turbo_1-583 {
    color: #000000;
    font-size: 29.01492691040039px;
    font-family: Poppins;
    line-height: 179.99999523162842%;
    letter-spacing: 0%;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    text-wrap: nowrap;
}

.text-motors_1-584 {
    color: #000000;
    font-size: 29.01492691040039px;
    font-family: Poppins;
    line-height: 179.99999523162842%;
    letter-spacing: 0%;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    text-wrap: nowrap;
}

.frame-39440_1-585 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 54px;
    box-sizing: border-box;
}
.text-sobre-n-s_1-586 {
    color: #000000;
    font-weight: 400;
    text-align: center;
    text-wrap: nowrap;
}

.text-agendamentos_1-587 {
    color: #000000;
    font-weight: 400;
    text-align: center;
    text-wrap: nowrap;
}

.text-contato_1-588 {
    color: #000000;
    font-weight: 400;
    text-align: center;
    text-wrap: nowrap;
}
