<div class="Frame39515 w-full h-32 px-16 bg-gray-200 justify-between items-center inline-flex">
    <div class="Logo py-2.5 justify-center items-center flex">
        <div class="Turbo text-center text-slate-900 text-3xl font-bold font-['Poppins'] capitalize leading-10">TURBO
        </div>
        <div class="Motors text-center text-red-800 text-3xl font-bold font-['Poppins'] capitalize leading-10">MOTORS
        </div>
    </div>
    <div class="Frame39477 items-center gap-8 inline-flex">

        <div class="Rectangle4220 w-24 h-24">
            <img src="../../../assets/Component 1.png" alt="Component 1" class="w-full h-full object-cover rounded" />
        </div>
        <div class="Rectangle4221 w-24 h-24">
            <img src="../../../assets/Component 2.png" alt="Component 2" class="w-full h-full object-cover rounded" />
        </div>
        <div class="Rectangle4222 w-24 h-24">
            <img src="../../../assets/Component 3.png" alt="Component 3" class="w-full h-full object-cover rounded" />
        </div>
        <div class="Rectangle4223 w-24 h-24">
            <img src="../../../assets/Component 4.png" alt="Component 4" class="w-full h-full object-cover rounded" />
        </div>
        <div class="Rectangle4224 w-24 h-24">
            <img src="../../../assets/Component 5.png" alt="Component 5" class="w-full h-full object-cover rounded" />
        </div>
        <div class="Rectangle4225 w-24 h-24">
            <img src="../../../assets/Component 6.png" alt="Component 6" class="w-full h-full object-cover rounded" />
        </div>
    </div>
</div>