<div class="Frame39473 w-full h-full flex flex-col items-center gap-6">

    <div class="Title relative flex justify-center items-center w-96">
        <div class="Line2 border-t border-gray-300 absolute inset-y-1/2 w-full"></div>
        <div class="Frame39442 bg-stone-50 px-2.5 relative">
            <h2 class="text-slate-900 text-2xl font-normal font-poppins capitalize leading-10">
                Carros
            </h2>
        </div>
    </div>

    <div class="Frame504 bg-white w-full py-12 flex flex-wrap gap-12 justify-center">
        <app-card [cardImage]="'../../../assets/card1.png'"></app-card>
        <app-card [cardImage]="'../../../assets/card1.png'"></app-card>
        <app-card [cardImage]="'../../../assets/card1.png'"></app-card>
        <app-card [cardImage]="'../../../assets/card1.png'"></app-card>
    </div>

</div>