<div class="Frame39411 h-24 pl-11 pr-7 py-5 bg-white rounded-3xl shadow justify-start items-center gap-2.5 inline-flex">
    <div class="Frame39406 w-48 flex-col justify-start items-start gap-0.5 inline-flex">
        <div class="Frame39407 justify-start items-center gap-0.5 inline-flex">
            <div class="NewUsed text-gray-400 text-sm font-normal font-['Poppins'] capitalize leading-relaxed">
                Novo/Usado</div>
            <div class="VuesaxLinearArrowDown w-4 h-4 justify-center items-center flex">
                <div class="ArrowDown w-4 h-4 relative">
                </div>
            </div>
        </div>
        <div class="NewUsed w-48 text-slate-900 text-base font-normal font-['Poppins'] capitalize leading-7">Novo &
            Usado</div>
    </div>
    <div class="Frame39407 w-48 flex-col justify-start items-start gap-0.5 inline-flex">
        <div class="Frame39407 justify-start items-center gap-0.5 inline-flex">
            <div class="NewUsed text-gray-400 text-sm font-normal font-['Poppins'] capitalize leading-relaxed">Marca
            </div>
            <div class="VuesaxLinearArrowDown w-4 h-4 justify-center items-center flex">
                <div class="ArrowDown w-4 h-4 relative">
                </div>
            </div>
        </div>
        <div class="NewUsed w-48 text-slate-900 text-base font-normal font-['Poppins'] capitalize leading-7">AUDI</div>
    </div>
    <div class="Frame39408 w-48 flex-col justify-start items-start gap-0.5 inline-flex">
        <div class="Frame39407 justify-start items-center gap-0.5 inline-flex">
            <div class="NewUsed text-gray-400 text-sm font-normal font-['Poppins'] capitalize leading-relaxed">Modelo
            </div>
            <div class="VuesaxLinearArrowDown w-4 h-4 justify-center items-center flex">
                <div class="ArrowDown w-4 h-4 relative">
                </div>
            </div>
        </div>
        <div class="NewUsed w-48 text-slate-900 text-base font-normal font-['Poppins'] capitalize leading-7">Todos os
            modelos</div>
    </div>
    <div class="Frame39410 p-2.5 bg-red-800 rounded-3xl justify-start items-start gap-2.5 flex">
        <div class="VuesaxLinearSearchNormal w-6 h-6 justify-center items-center flex">
            <div class="SearchNormal w-6 h-6 relative">
            </div>
        </div>
    </div>
</div>